body{
    background:#eee;
    overflow-x: hidden
}
.dash{

    border:1px inset #222;
    padding:0px;
    background:#222;
}
.dash-item a{
    text-decoration:none;
    color:#eee;

    padding:20px;
    text-align:center;
    width:100%;
}
.dash-item a:hover{
    background:#111
}
.dash-active{
    background:#111
}
.dash-active:hover{
    background:#000
}
.conteudo{
    background:#eee;
    min-height:768px;

    border:1px outset #eee;
}
.none{
    display:none
}
.tile-incomplete{
    background:#e55;
    height:250px;
    border:1px solid #ddd;
    color:#eee;
}
.tile-complete{
    background:#595;
    height:250px;
    border:1px solid #ddd;color:#eee;
}
.tile-register{
    background:#07f;
    height:270px;
    border:1px outset #ddd;
    color:#eee;
}
.tile-peding{
    background:#eb5;
    height:250px;
    border:1px solid #ddd;color:#eee;
}
.tile-peding:hover{
    background:#4a4;

}
.transaction-1{
    transition-duration: 0.5s;
}
a{
    text-decoration:none !important
}

